<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Todo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/article/write">Write</a>
        <a class="nav-link" href="/board/list">List</a>
        <a class="nav-link" href="/sign/in">Sign In</a>
        <a class="nav-link" href="/my/page">My</a>
      </div>
    </div>
</nav> -->

<!-- my second nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="/">Todo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-toggler d-flex justify-content-between" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width: 100%; border: none;" role="button">
      <span class="navbar-brand">Todo</span>
      <span class="navbar-toggler-icon"></span>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/write">Write <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Board
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/board/total">Total</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/board/memo">Memo</a>
          <a class="dropdown-item" href="/board/diet">Diet</a>
          <a class="dropdown-item" href="/board/study">Study</a>

        </div>
      </li>
      <li class="nav-iteme">
        <a class="nav-link" href="/sign/in">Sign in <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-iteme">
        <a class="nav-link" href="/my/page">My <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>