<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/main.css">

        <title>Todo - Home</title>
    </head>
    <body>

      <%- include('../nav.html') %>

      <div class="container p-4 detail">

        <!-- chat list -->
        <div class="row">
          <div class="col-3">
            <ul class="list-group chat-list">

              <% for (var i = 0; i < chatroom.length; i ++) { %>

                <li class="list-group-item" data-id="<%= chatroom[i]._id %>" id="<%= chatroom[i]._id %>">

                  <% for (var k = 0; k < chatroom[i].nicks.length; k ++) { %>
                    <% if (chatroom[i].users[k] != user) { %>
                      <h6><%= chatroom[i].nicks[k] %></h6>
                    <% } %>
                    <% } %>
                </li>

              <% } %>

             </ul>
           </div>
      
           <!-- chat room -->
           <div class="col-9 p-0">
             <div class="chat-room card">
               <h4 id ="chat-title">select a chat room</h4>
               <ul class="list-group chat-content">
                  <li><span class="chat-box">채팅방1 내용</span><span class=text-small>dd</span></li>
                  <li><span class="chat-box">채팅방1 내용</span><span class=text-small>dd</span></li>
                  <li>
                    <span class="mine">
                      <span class=text-small>dd</span><span class="chat-box">채팅방1 내용</span> 
                    </span>
                  </li>
                </ul>
            </div>

            <!-- send a message -->
            <div class="input-group mt-2" id="chat-input-send" style="display: none;">
              <input class="form-control" id="chat-input">
              <button class="btn btn-secondary" id="send">
                <i class="bi bi-cursor-fill"></i>
              </button>
            </div>

          </div>
        </div>
      
      </div> 

      <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

      <script>
        var chatroomID;

        var socket = io();

        //enter the chat room & show messages before
        $('.list-group-item').click(function(){
          chatroomID = this.dataset.id;

          var chatUser = $(this).children().html()
          $('#chat-title').html(chatUser);
          $('#chat-input-send').css('display', '')
          $('.chat-content').empty();

          $.get('/my/chat/room/' + chatroomID).then((result)=>{
            var messages = result.messages,
                user = result.user

            messages.forEach(function(message){
              const korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
              var time;
              for (var i = 0; i < message.date.length; i ++){
                if ( korean.test(message.date[i]) ) {
                  time = message.date.slice(i, -3)
                  break
                }
              }

              if ( user == message.userid ) $('.chat-content').append('<li><span class="mine"><span class="text-small">' + time + '</span><span class=\"chat-box\">' + message.content + '</span></span></li>')
              else $('.chat-content').append('<li><span class=\"chat-box\">' + message.content + '</span><span class="text-small">' + time + '</span></li>')
              $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight)
            })
          })
          
          socket.emit('user-join', chatroomID)

        })

        //send a message on click
        $('#send').click(function(){
          var chatContent = $('#chat-input').val();
          var sendData = {
            parent : chatroomID,
            content : chatContent
          }

          $.post('/my/chat/message', sendData).then(()=>{

          })

          socket.emit('user-send', { chatroomID: chatroomID, message : chatContent })
          $('#chat-input').val('')


        })
        //send a message by enter
        $("#chat-input").on("keyup",function(e){ 
          if(e.keyCode==13) { 
            var chatContent = $('#chat-input').val();
            var sendData = {
              parent : chatroomID,
              content : chatContent
            }

            $.post('/my/chat/message', sendData).then(()=>{

            })

            socket.emit('user-send', { chatroomID: chatroomID, message : chatContent })
            $('#chat-input').val('')


          } 
        }); 

        //chat in real time (socket.io)
        socket.on('broadcast', function(data){
          var socketID = data.socketID,
              message = data.message,
              date = data.date

          const korean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
          var time;
          for (var i = 0; i < date.length; i ++){
            if ( korean.test(date[i]) ) {
              time = date.slice(i, -3)
              break
            }
          }

          if ( socket.id == socketID ) $('.chat-content').append('<li><span class="mine"><span class="text-small">' + time + '</span><span class=\"chat-box\">' + message + '</span></span></li>')
          else $('.chat-content').append('<li><span class=\"chat-box\">' + message + '</span><span class="text-small">' + time + '</span></li>')
          $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight)

        })


        
      </script>


      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
      -->
    </body>
</html>